/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    margin: 5px 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300; 
    font-size: 62.5%;
    height: 100%;
    max-width: 100%;
    background: white;
}

a {
    text-decoration: none;
    color: #43B3E0;
}

#top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  #top h1 {
    font-size: 2rem;
    margin-left: 40px;
    font-family: 'Quicksand', sans-serif;
  }
  #top h2 {
    font-size: 1rem;
    margin-left: 40px;
    font-family: 'Quicksand', sans-serif;
    color: black;
  }
  #top nav {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-right: 10px;
  }
  #top nav a {
    margin-right: 40px;
    text-decoration: none;
    color: #43B3E0;
    transition: 0.6s;
    opacity: 1;
    scroll-behavior: smooth;
  }
  #top nav a:hover {
    opacity: 0.5;
  }

.story h2 {
    margin-bottom: 30px;
    color: #4679bd;
    font-weight: 400;
    padding: 0 20px;
    font-size: 2rem;
}

p {
    font-size: 1rem;
    padding: 0 20px;
    line-height: 1.2;
}

img {
    max-width: 80vw;
    padding: 0 20px;
}

strong {
    font-weight: bold;
    font-size: 1.2rem;
}

.story {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (max-width: 1200px) {
    #top {
      flex-wrap: wrap;
      flex-direction: column;
      min-width: 100%;
    }
    #top h1,
    #top h2 {
      text-align: center;
      margin-left: 0;
    }
    #top nav {
      display: flex;
      justify-content: center;
    }
    #top nav a {
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 750px) {
      img {
          min-width: 95vw;
          padding: 0;
      }
  }

  @media screen and (max-width: 500px) {
    .story h2 {
      text-align: center;
    }
  }